/* Shared style  */
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  padding: 15px 30px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 5px 5px 10px 0px gray;
}
span {
  color: #e55473;
}

/* header banner related style  */
.header-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 80px;
  padding: 50px 10% 0px 10%;
  background: #e554731a;
  max-height: 100vh;
}

.banner-title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}
.banner-description {
  color: #27272799;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
  margin: 32px 0;
}

.banner-photo {
  width: 500px;
  margin-bottom: -3px;
}
/* header banner ended */

/* main sectio started */

/* Featured Flower section related style */
.featured-flower-container {
  width: 80%;
  margin: 100px auto;
}
.featured-flower-title {
  text-align: center;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.featured-flower-des {
  color: #27272799;
  text-align: center;
  width: 600px;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 50px 0px;
}
.flower-container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.flower-box {
  width: 400px;
  text-align: center;
  border-radius: 300px 300px 0px 0px;
}
.f-box-1 {
  background: #a7216226;
}
.f-box-2 {
  background: #0597a026;
}
.f-box-3 {
  background: #477d1126;
}
.flower-img {
  /* width: 100px; */
  height: 250px;
  padding: 110px 45px 0px 45px;
  margin-bottom: -3px;
}
.flower-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
}
.name {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
/* Featured Flower section related style ended */

/* service section related style */
.service-container {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  background: #2727270d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 0;
  text-align: center;
  margin-bottom: 100px;
}
.sercive-collum {
  width: 30%;
}
.service-img {
  height: 80px;
  padding-bottom: 20px;
}
.service-name {
  color: #272727cc;
  font-size: 18px;
  font-weight: 600;
}
/* service section related style ended */
.discount-container {
  background: #e554730d;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-around;
  padding: 50px 280px;
  margin-bottom: 100px;
}
.discount-title {
  color: #272727;
  padding-bottom: 25px;
  font-size: 40px;
  font-weight: 800;
}
.discount-des {
  color: #27272799;
  padding-bottom: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.product-photo {
  width: 280px;
}
/* Instagram section related style started */
.instagram-container {
  width: 80%;
  margin: 100px auto;
}
.instagram-title {
  padding-bottom: 20px;
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.instagram-des {
  width: 600px;
  margin: auto;
  color: #27272799;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
}
.instagram-img-container {
  display: flex;
  justify-content: space-between;
}

.instagran-photo {
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px gray;
}
/* Instagram related style ended */

/* bonuse section related style started */
.flower-collections-container {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #e554730d;
}
.collections-title{
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 25px;
}
.collections-des{
  color: #27272799;
  text-align: center;
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

}

.collection-photo {
  height: 400px;
  border-radius: 10px;
}
/* bonuse section related style enden */

/* Deals section related style started */
.deals-container {
  width: 80%;
  margin: 100px auto;
  height: 500px;
  background-image: url("../images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deals-title {
  color: #272727;
  text-align: center;
  padding-bottom: 15px;
  font-size: 40px;
  font-weight: 800;
}
.deals-dec {
  color: #27272799;
  text-align: center;
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
#email {
  width: 600px;
  padding: 20px 50px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 5px 5px 10px 0px gray;
}
/* deals container related style ended */

/* main section complect */

/* Footer related style started */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background: #111010;
  color: white;
}
.footer-title {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 25px;
}
.footer-des {
  color: #ffffffe6;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.footer-last-des {
  color: #ffffff66;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-top: 45px;
}
